//COLORS
//colorcube
$woodsmoke: #111117;
$bluelagoon: #038484;
$gravel: #504f51;
$pumice: #bcbebc;
$santafe : #ae795e;
$fountain_blue: #52bbba;
$anakiwa: #8fffff;

//median cut
$shark: #1d2023;
$gray_nurse: #eef1ed;
$sea_nymph: #6ca0a0;
$smalt_blue: #568080;
$santa_fe_plus: #a96b53;

//material design
$vibrant: #1c918e;
$mute: #ab6b53;
$dark_vibrant: #122439;
$dark_muted: #443c3b;
$light_vibrant: #d6b9a3;