@use "./partials/variables";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "node_modules/bootstrap/scss/bootstrap";



img {
    max-width: 100%;

}

ul {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: #52bbba;
    }
}

.ms_container {
    width: 60%;
    margin: 0 auto;
}

.ms_card {
    padding: 0.5rem;
}

.icon {
    span {
        padding-left: 5px;
    }
}

.section_title {
    font-weight: 900;
}

.primary_section_title {
    color: #038484;
    background-color: #6ca0a05b;
    border-radius: 5px;
    padding: 0.1rem 0.4rem;
}

.secondary_section_title {
    background-color: #6ca0a05b;
    border-radius: 5px;
    padding: 0.1rem;
    margin-right: 10px;
}

.description {
    color: #bcbebc;
    font-size: smaller;

}

.description_dark {
    color: #7b858c;
    font-size: smaller;
}

.smaller_title {
    color: #52bbba;
    font-size: xx-small;
    font-weight: 900;
}

//Button
.btn {
    padding: 0.3rem 0.6rem;
    border-radius: 5px;

    &.primary_color {
        background-color: #038484;
        color: white;

        &:hover {
            color: #52bbba;
        }
    }

    &.transparent {
        border: 1px solid #038484;
        color: #038484;

        &:hover {
            background-color: #038484;
            color: white;
        }
    }

}