@use "./partials/variables";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "node_modules/bootstrap/scss/bootstrap";



img {
    max-width: 100%;

}

ul {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: inherit;
}

.ms_container {
    width: 60%;
    margin: 0 auto;
}

.ms_card {
    padding: 0.5rem;
}

.icon {
    span {
        padding-left: 5px;
    }
}

.primary_section_title {
    color: #038484;
    background-color: #6ca0a05b;
    border-radius: 5px;
    padding: 0.1rem 0.4rem;
}

.description {
    color: #bcbebc;
    font-size: smaller;
    padding: 0 0.3rem;
}